<!-- List just the doctor names -->
<div id="doctors"> 
<h3>Doctors</h3>
<% if docs %>
  <% docs.each do |doctor| %>
    <li><%= doctor.full_name %></li>
    <% flash[:seldoc]=doctor %>
  <% end %>
<% end %>
</div>

